@import "../../../scss/index.scss";

.menu-top-web {
  position: sticky;
  top: 0;
  background-color: $background-dark-web;
  border: 0;
  display: flex;
  align-items: center;

  li {
    border: 0 !important;
    border-bottom: 2px red !important;
    color: red !important;

    a {
      color: #fff !important;
      font-weight: bold;
      padding: 0 15px 0 0;
      &:hover {
        color: $primary-color !important;
      }
    }
  }

  &__logo {
    img {
      width: 205px;
      padding: 15px 10px 5px 0px;
    }
  }
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
  margin-left: 0;
}
