@import "../../../scss/index.scss";

.register-form {
  text-align: center;

  .ant-form-item {
    // &:nth-child(3),
    &:last-of-type {
      margin: 0;
    }
  }

  &__input {
    .ant-input-prefix {
      .anticon {
        font-size: 0em + 22px / $defaultFontSize;
      }
    }

    input {
      font-size: 0em + 20px / $defaultFontSize;
      padding: 5px 5px 5px 15px !important;
      &:focus {
        border-color: $primary-color;
        box-shadow: none;
      }
    }
  }

  &__button {
    width: 90%;
    font-size: 0em + 22px / $defaultFontSize;
    background-color: $primary-color;
    color: $font-light;
    height: 42px;
    border-color: $background-dark;
    &:hover {
      background-color: $primary-color-hover;
      color: $font-light;
      border-color: $background-dark;
    }
    &:focus,
    &:active {
      background-color: $primary-color;
      color: $font-light;
      border: 0;
    }
  }
  .ant-input-affix-wrapper {
    &:focus,
    &:hover {
      border-color: $primary-color-input !important;
      box-shadow: none;
    }
    &-focused {
      border-color: $primary-color-input !important;
      box-shadow: none;
    }
  }
}
